.multi-range * {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
.multi-range {
	display: flex;
	position: relative;
	border: solid 1px gray;
	border-radius: 10px;
	padding: 20px 10px;
	flex-direction: column;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.multi-range .bar {
	display: flex;
}
.multi-range .bar-left {
	width: 25%;
	background-color: #f1f1f1;
	border-radius: 10px 0px 0px 10px;
	padding: 4px 0px;
	border: 1px solid #121620;
}
.multi-range .bar-right {
	width: 25%;
	background-color: #f1f1f1;
	border-radius: 0px 10px 10px 0px;
	border: 1px solid #121620;
}
.multi-range .bar-inner {
	background-color: #fff98a;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	position: relative;
	border: solid 1px #121620;
	justify-content: space-between;
}
.multi-range .bar-inner-left {
	width: 50%;
}
.multi-range .bar-inner-right {
	width: 50%;
}
.multi-range .thumb {
	background-color: white;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.multi-range .thumb::before {
	content: '';
	background-color: inherit;
	position: absolute;
	width: 10px;
	height: 10px;
	border: solid 1px black;
	border-radius: 50%;
	z-index: 1;
	margin: -1px -6px;
	cursor: pointer;
}
.multi-range .input-type-range:focus + .thumb::after {
	content: '';
	position: absolute;
	top: -4px;
	left: -7px;
	width: 11px;
	height: 11px;
	z-index: 2;
	border-radius: 50%;
	border: dotted 1px black;
}
.multi-range .caption {
	position: absolute;
	bottom: 35px;
	width: 2px;
	height: 2px;
	left: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	display: none;
}
.multi-range .thumb .caption * {
	display: none;
}
.multi-range .thumb:active .caption {
	display: flex;
}
.multi-range .input-type-range:focus + .thumb .caption {
	display: flex;
}
.multi-range .input-type-range {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.multi-range .ruler {
	margin: 10px 0px -5px 0px;
	display: flex;
	/* display: none; */
	overflow: hidden;
}
.multi-range .ruler .ruler-rule {
	border-left: solid 1px;
	border-bottom: solid 1px;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 5px 0px;
}
.multi-range .ruler .ruler-rule:last-child {
	border-right: solid 1px;
}

.multi-range .ruler .ruler-sub-rule {
	border-left: solid 1px;
	/* border-bottom: solid 1px; */
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3px 0px;
	bottom: 0px;
	margin-bottom: -5px;
}
.multi-range .ruler .ruler-sub-rule:first-child {
	border-left: none;
}

.multi-range .labels {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: -20px;
	/* display: none; */
}
.multi-range .label {
	font-size: 80%;
	display: flex;
	width: 1px;
	justify-content: center;
}
.multi-range .label:first-child {
	justify-content: start;
}
.multi-range .label:last-child {
	justify-content: end;
}
.multi-range.zero-ranage-margin .thumb-left {
	right: 12px;
}
.multi-range.zero-ranage-margin .thumb-right {
	left: 8px;
}


/* Disabled */
.multi-range.disabled {
	border: solid 1px rgb(200, 200, 200);
	color:rgb(180, 180, 180);
}
.multi-range .bar {
	display: flex;
}
.multi-range.disabled .bar-left {
	background-color: #c9c9c9;
}
.multi-range.disabled .bar-right {
	background-color: #c9c9c9;
}
.multi-range.disabled .bar-inner {
	background-color: rgb(130 243 130);
	border: solid 1px rgb(149, 149, 149);
}
.multi-range.disabled .thumb {
	background-color: white;
}
.multi-range.disabled .thumb::before {
	border: solid 1px rgb(200, 200, 200);
}
.multi-range.disabled .input-type-range:focus + .thumb::after {
	border: dotted 1px rgb(35, 35, 35);
}
.multi-range.disabled .thumb .caption * {
	background-color: rgb(84, 84, 137);
	color: rgb(199, 199, 199);
}


